/* 🔹 Scroll elegante dorado */
.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #ca8a04; /* amarillo/dorado */
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #eab308;
}

/* Firefox */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #ca8a04 transparent;
}